<!DOCTYPE html>
<html lang="th"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ name }} : PyThaiNLP Demo</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"><style id="extension_colorize" type="text/css">html *,* { filter: initial !important; }</style>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">PyThaiNLP Online Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto w-100">
		  {% if name=="Word tokenizer" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
            <a class="nav-link" href="/word_tokenizer">Word Tokenizer</a>
          </li>
      {% if name=="POS Tag" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
            <a class="nav-link" href="/pos_tag">POS Tag</a>
          </li>

      {% if name=="TCC" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
              <a class="nav-link" href="/tcc">TCC</a>
            </li>

      {% if name=="Soundex" %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
              <a class="nav-link" href="/soundex">Soundex</a>
            </li>

		  {% if name=="About" %}<li class="nav-item active float-right">{% else %}<li class="nav-item">{% endif %}
            <a class="nav-link" href="//pythainlp.github.io">About PyThaiNLP</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
	{% block body %}{% endblock %}
    </main>

    <footer class="container">
      <div>© 2016 - {{ now.year }} PyThaiNLP</div>

      <div>v{{ pythainlp_version }}</div>

    </footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>
	{% block runjs %}{% endblock %}
</body></html>
